$primary-color: #2B3036;
$secondary-color: #B89968;
$brandon: brandon-grot-regular;
$brandon-m: brandon-grot-medium;
$brandon-b: brandon-grot-bold;
$miller: miller-regular;



.on-agenda{
	background: #FAFAFA;
    padding: 2rem 0rem;
    h3.agenda-title {
    	font-family: $brandon-b;
    	font-size: 16px;
    	text-transform: uppercase;
    }	
}
.nav-menu{
	margin: 34px 0px 0px;
	background: $primary-color;
	li{
		a {
			color: $secondary-color;
		}

		a:hover{
			color: #ffffff;
		}
	}
	
}

hr{
    margin: 0.3rem 0 1.5rem;
}


.cat-menu{
	margin: 30px 0px;
	li{
		a:hover {
			color: $secondary-color;
		}
	}
}

a.logo{
	display: block;
	img{
	    width: 205px;
	    position: relative;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, 40%);
	}
	
}

a.label{
	font-family: $miller;
	font-size: 14px;
}



.menu{
	font-family: $brandon-b;
	text-transform: uppercase;
	font-size: 14px;
}

time.date{
	font-size: 12px;
	font-family: $miller;
	font-size: 12px;
	color: #2B3036;
}


.blog-details{
	margin: 4rem 0rem;
	time.date-details{
		font-size: 12px;
		font-family: $miller;
		text-align: center;
	    display: block;
	}

	.blog-title{
		font-family: $brandon-b;
		font-size: 24px;
		text-align: center;
	}
}



p.content{
	font-family: $miller;
	font-size: 14px;
	line-height: 24px;
	padding-top: 0.2rem;
}

a.post-title{
	font-size: 18px;
	font-family: $brandon-b;
	color: #2B3036;
	letter-spacing: 0.5px;
	display: block;
}

a.post-title:hover{
	color: $secondary-color;
}


h2.category-title{
	font-family: $brandon-b;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 4rem 0;
}

.content-details{

	img{
		width: 100%;
		margin: 1rem 0rem;
	}

	p{
		text-align: center;
	}

	.product-title {
		font-family: $brandon-m;
		font-size: 18px;
		text-align: center;
	    margin: 2rem 0rem;
	}

	.products{

		margin: 2rem 0rem;

		strong.brand{
			font-family: $brandon-m;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			display: block;
		}

		span.product-name{
			font-family: $miller;
			font-size: 14px;
			display: block;
			text-align: center;
		}


		.rent-price{
			text-align: center;
			span.price{
				font-family: $brandon-m;
				font-size: 12px;
				padding-right: 5px;
				text-transform: uppercase;
			}

		span.normal-price{
				font-family: $brandon-m;
				font-size: 12px;
				color: #C1C1C1;
				text-decoration: line-through;
			}
		}
		
	}

	.products:hover{
		background: #FFFFFF;
		box-shadow: 0 0 10px 0 rgba(204,204,204,0.50);
		border-radius: 3px;
		margin: 1rem 0rem;
	}
}


// - footer section

.footer-section{

	margin: 25px 0 0;
	font-family: miller;
	background-color: #FAFAFA;
	padding: 3.125rem 0 2rem;
	color: $primary-color;
	font-size: .8125rem;
	line-height: 1.5rem;
	border: 1px solid #dfdfdf;

	.social-media{
		i{
			color: #B89968;
    		font-size: 1rem;
    		padding: 10px;
    		margin: 10px 5px;
		}

		i.fa.fa-facebook{
			padding-left: 0px;
		}
	}

	li.footer-title{
		font-family: $brandon-b;
		margin-bottom: 5px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 14px;
	}

	li{
		font-family: $miller;
		font-size: 12px;
		text-transform: none;

		a{
		    padding: .5rem 0rem;
		    color: #57595d;

		    @media screen and (max-width: 39.9375em) {
		    	padding: .7rem 1rem;
		    }
		}

		a:hover{
		    color: #C5CBD7;
		}
	}

	a.logo-footer{
		width: 100%;
		padding-left: 0px;

	}

	p{
		font-family: $miller;
		font-size: 12px;
		text-transform: none;
		color: #898D94;
	}
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	.m-copyright{
		font-size: 12px;
		font-family: $miller;
	    padding: 1rem;
	}

	a.m-circle{
		    border-radius: 1000px;
		    background-color: #b89968;
		    padding: 2px 10px;
		    width: 30px;
		    height: 30px;
		    display: inline-block;
	        margin: 9px 5px;  

		    i{
				font-size: 14px;
				color: #fff;
			}
		}

}





.copyright{
	margin: 1rem 0rem;
	text-align: center;
	font-size: 12px;
	font-family: $miller;

	.social-media{
		@media screen and (max-width: 39.9375em){
		    margin-bottom: 1.4rem;
			a.circle{
		        border-radius: 1000px;
			    background-color: #b89968;
			    padding: 12px 14px;
			    width: 50px;
			    height: 50px;
			    display: inline-block;
			    margin: 5px;   

				i{
					font-size: 25px;
					color: #fff;
				}
			}
		}	
	}
}
