@font-face {
    font-family: 'miller-regular';
    src: url('/assets/fonts/millerdisplayroman-webfont.woff2') format('woff2'),
         url('/assets/fonts/millerdisplayroman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family:'brandon-grot-regular';
    src:url('/assets/fonts/brandon-regular/brandon-regular.eot?#iefix');
    src:url('/assets/fonts/brandon-regular/brandon-regular.eot?#iefix') format("eot"),
    	url('/assets/fonts/brandon-regular/brandon-regular.woff2') format("woff2"),
    	url('/assets/fonts/brandon-regular/brandon-regular.woff') format("woff"),
    	url('/assets/fonts/brandon-regular/brandon-regular.ttf') format("truetype");
}

@font-face{
    font-family:'brandon-grot-medium';
    src:url('/assets/fonts/brandon-medium/brandon-medium.eot?#iefix');
    src:url('/assets/fonts/brandon-medium/brandon-medium.eot?#iefix') format("eot"),
    	url('/assets/fonts/brandon-medium/brandon-medium.woff2') format("woff2"),
    	url('/assets/fonts/brandon-medium/brandon-medium.woff') format("woff"),
    	url('/assets/fonts/brandon-medium/brandon-medium.ttf') format("truetype");
}
@font-face{
    font-family:'brandon-grot-bold';
    src:url('/assets/fonts/brandon-bold.eot?#iefix');
    src:url('/assets/fonts/brandon-bold.eot?#iefix') format("eot"),
    	url('/assets/fonts/brandon-bold.woff2') format("woff2"),
    	url('/assets/fonts/brandon-bold.woff') format("woff"),
    	url('/assets/fonts/brandon-bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}