doctype html
html.no-js(lang="en", dir="ltr")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Blog Category
		link(rel="stylesheet", href="lib/foundation-6.4.2-custom/css/foundation.css")
		link(rel="stylesheet", href="lib/foundation-6.4.2-custom/css/app.css")
		link(rel="stylesheet", href="css/blog.css")
		link(rel="stylesheet", href="css/fonts.css")
		<script src="https://use.fontawesome.com/1c6d8c1d77.js"></script>
	body
		//- Logo Section
		.grid-container
			.grid-x.grid-padding-x
				.auto.cell
					a.logo(href="/blog.html")
						img(src="../assets/images/oprent-logo-gold.png")

		//- Menu Nav
		.grid-padding-x
			.menu-centered-back-compat
				ul.menu.align-center.nav-menu
					li
						a(href="#") About Us
					li
						a(href="#") Designer
					li
						a(href="#") What's new
					li
						a(href="#") Occasions
					li
						a(href="#") Clothing
					li
						a(href="#") Accesories
					li
						a(href="#") Magazine

		//- Category Section
		.grid-container
			.grid-x.grid-padding-x
				.auto.cell
					h2.category-title Fashion
		
		//- Content Section
		.grid-container
			//- Row 1
			.grid-x.grid-padding-x
				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category9.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") New York Fashion Week SS18
						p.content We kick off the Spring/Summer shows at New York Fashion Week, here we round up the top three shows this week.
				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category8.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") Summer Holiday Ready Competition
						p.content From Chanel to the iconic 'Le Smoking', pant suits have fast become a fashion staple - reviving the feminist statement, pant suits are the 'must-have' item in 2017.

				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category7.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") Summer Holiday Ready Competition
						p.content From Chanel to the iconic 'Le Smoking', pant suits have fast become a fashion staple - reviving the feminist statement, pant suits are the 'must-have' item in 2017.
			
			//- Row 2
			.grid-x.grid-padding-x
				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category6.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") New York Fashion Week SS18
						p.content We kick off the Spring/Summer shows at New York Fashion Week, here we round up the top three shows this week.
				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category5.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") Summer Holiday Ready Competition
						p.content From Chanel to the iconic 'Le Smoking', pant suits have fast become a fashion staple - reviving the feminist statement, pant suits are the 'must-have' item in 2017.

				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category4.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") Summer Holiday Ready Competition
						p.content From Chanel to the iconic 'Le Smoking', pant suits have fast become a fashion staple - reviving the feminist statement, pant suits are the 'must-have' item in 2017.
			//- Row 3
			.grid-x.grid-padding-x
				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category3.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") New York Fashion Week SS18
						p.content We kick off the Spring/Summer shows at New York Fashion Week, here we round up the top three shows this week.
				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category2.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") Summer Holiday Ready Competition
						p.content From Chanel to the iconic 'Le Smoking', pant suits have fast become a fashion staple - reviving the feminist statement, pant suits are the 'must-have' item in 2017.

				.small-12.medium-4.large-4.cell
					div
						a(href="#")
							img(src="../assets/images/category1.jpg")
					div
						time.date Aug 23, 2007
						a.post-title(href="#") Summer Holiday Ready Competition
						p.content From Chanel to the iconic 'Le Smoking', pant suits have fast become a fashion staple - reviving the feminist statement, pant suits are the 'must-have' item in 2017.

		//- Footer Section Desktop
		.hide-for-small-only.hide-for-medium-only
			.footer-section
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Company

								li
									a(href="#") About Us
								li
									a(href="#") Terms
								li
									a(href="#") Privacy Policy

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Support
								
								li
									a(href="#") Help &amp; FAQ
								li
									a(href="#") How it Works
								li
									a(href="#") Become A Lender
								li
									a(href="#") Delivery &amp; Return

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Find Us
								
							.social-media

								a(href="http://www.facebook.com/oprent")
									i.fa.fa-facebook(aria-hidden='true')
							
								a(href="https://twitter.com/Oprent")
									i.fa.fa-twitter(aria-hidden='true')
							
								a(href="http://www.instagram.com/Oprent")
									i.fa.fa-instagram(aria-hidden='true')
							
								a(href="https://www.linkedin.com/company-beta/3727252")
									i.fa.fa-linkedin(aria-hidden='true')

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Contact Us
								
								li
									a(href="tel:020 30701732") 020 30701732
								li
									a(href="mailto:concierge@oprent.com") concierge@oprent.com


						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								
								a.logo-footer(href="/blog.html")
									img(src="../assets/images/oprent-logo-gold.png")

								p London’s premium online destination to rent luxury designer fashion on demand.
			
			.grid-container
				.grid-x.grid-padding-x
					.small-auto.medium-auto.large-auto.cell.copyright
						| © 2017 Oprent Inc. All Rights Reserved. 


		//-  Footer Section on Medium (Ipad)
		.show-for-medium-only
			.footer-section
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Company

								li
									a(href="#") About Us
								li
									a(href="#") Terms
								li
									a(href="#") Privacy Policy

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Support
								
								li
									a(href="#") Help &amp; FAQ
								li
									a(href="#") How it Works
								li
									a(href="#") Become A Lender
								li
									a(href="#") Delivery &amp; Return

						

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Contact Us
								
								li
									a(href="tel:020 30701732") 020 30701732
								li
									a(href="mailto:concierge@oprent.com") concierge@oprent.com


						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								
								a.logo-footer(href="/blog.html")
									img(src="../assets/images/oprent-logo-gold.png")

								p London’s premium online destination to rent luxury designer fashion on demand.
			
			.grid-container
				.grid-x.grid-padding-x
					.medium-9.large-auto.cell.m-copyright
						| © 2017 Oprent Inc. All Rights Reserved. 

					.medium-auto.large-auto.cell
						a.m-circle(href="http://www.facebook.com/oprent")
							i.fa.fa-facebook(aria-hidden='true')
					
						a.m-circle(href="https://twitter.com/Oprent")
							i.fa.fa-twitter(aria-hidden='true')
					
						a.m-circle(href="http://www.instagram.com/Oprent")
							i.fa.fa-instagram(aria-hidden='true')
					
						a.m-circle(href="https://www.linkedin.com/company-beta/3727252")
							i.fa.fa-linkedin(aria-hidden='true')



		//- Footer  Section on Mobile
		.show-for-small-only
			.footer-section
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.medium-auto.large-auto.cell
							ul.menu.align-center 
								li
									a(href="#") About Us
								li
									a(href="#") Terms
								li
									a(href="#") Privacy Policy

			.copyright
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.cell.social-media
							a.circle(href="http://www.facebook.com/oprent")
								i.fa.fa-facebook(aria-hidden='true')
								
							a.circle(href="https://twitter.com/Oprent")
								i.fa.fa-twitter(aria-hidden='true')
								
							a.circle(href="http://www.instagram.com/Oprent")
								i.fa.fa-instagram(aria-hidden='true')
								
							a.circle(href="https://www.linkedin.com/company-beta/3727252")
								i.fa.fa-linkedin(aria-hidden='true')

						.small-auto.medium-auto.large-auto.cell
							| © 2017 Oprent Inc. All Rights Reserved. 