doctype html
html.no-js(lang="en", dir="ltr")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Blog Details
		link(rel="stylesheet", href="lib/foundation-6.4.2-custom/css/foundation.css")
		link(rel="stylesheet", href="lib/foundation-6.4.2-custom/css/app.css")
		link(rel="stylesheet", href="css/blog.css")
		link(rel="stylesheet", href="css/fonts.css")
		<script src="https://use.fontawesome.com/1c6d8c1d77.js"></script>
	body
		//- Logo Section
		.grid-container
			.grid-x.grid-padding-x
				.auto.cell
					a.logo(href="/blog.html")
						img(src="../assets/images/oprent-logo-gold.png")

		//- Menu Nav
		.grid-padding-x
			.menu-centered-back-compat
				ul.menu.align-center.nav-menu
					li
						a(href="#") About Us
					li
						a(href="#") Designer
					li
						a(href="#") What's new
					li
						a(href="#") Occasions
					li
						a(href="#") Clothing
					li
						a(href="#") Accesories
					li
						a(href="#") Magazine



		//- Category Section
		.grid-container
			.grid-x.grid-padding-x
				.auto.cell.blog-details
					time.date-details September 14, 2017
					h2.blog-title New York Fashion Week SS18
		
		//- Content Section
		.grid-container.content-details
			//- Row 1
			.grid-x.grid-padding-x
				.small-12.medium-12.large-12.cell
					div
						img(src="../assets/images/Cover.jpg")
					div
						p.content A bite-sized chunk had been taken out of the Big Apple when some of America’s most influential designers announced that they were leaving New York Fashion Week and opting for oversea opportunities. First, there was Rodarte, and then one after another, Proenza Schouler, Thom Browne and Altuzarra followed suit. Despite this conspicuous loss, there was still hope in the autumn air at this year’s fashion week with Tom Ford’s return to NYFW. And so far, the week has not been a disappointment, with strong looks filling in the departure of such heavy juggernauts.
			.grid-x 
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery1.jpg")
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery2.jpg")
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery3.jpg")
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery4.jpg")

			.grid-x.grid-padding-x
				.small-12.medium-12.large-12.cell
					p.content A bite-sized chunk had been taken out of the Big Apple when some of America’s most influential designers announced that they were leaving New York Fashion Week and opting for oversea opportunities. First, there was Rodarte, and then one after another, Proenza Schouler, Thom Browne and Altuzarra followed suit. Despite this conspicuous loss, there was still hope in the autumn air at this year’s fashion week with Tom Ford’s return to NYFW. And so far, the week has not been a disappointment, with strong looks filling in the departure of such heavy juggernauts.

			.grid-x 
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery5.jpg")
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery6.jpg")
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery7.jpg")
				.small-6.medium-auto.large-auto.cell 
					img(src="../assets/images/gallery8.jpg")

			.grid-x.grid-padding-x
				.large-12.cell
					h2.product-title Dresses Recommend

			.grid-x.grid-padding-x
				.small-6.medium-3.large-3.cell.products
					div
						a(href="#")
							img(src="../assets/images/dress1.jpg")
						div 
							strong.brand Gevinci
							span.product-name(href="#") Gaia Silk Georgette Dress
						.rent-price
							span.price Rent £240
							span.normal-price RRP £1,600

				.small-6.medium-3.large-3.cell.products
					div
						a(href="#")
							img(src="../assets/images/dress2.jpg")
						div 
							strong.brand Gevinci
							span.product-name(href="#") Gaia Silk Georgette Dress
						.rent-price
							span.price Rent £240
							span.normal-price RRP £1,600

				.small-6.medium-3.large-3.cell.products
					div
						a(href="#")
							img(src="../assets/images/dress3.jpg")
						div 
							strong.brand Gevinci
							span.product-name(href="#") Gaia Silk Georgette Dress
						.rent-price
							span.price Rent £240
							span.normal-price RRP £1,600

				.small-6.medium-3.large-3.cell.products
					div
						a(href="#")
							img(src="../assets/images/dress4.jpg")
						div 
							strong.brand Gevinci
							span.product-name(href="#") Gaia Silk Georgette Dress
						.rent-price
							span.price Rent £240
							span.normal-price RRP £1,600


		//- Footer Section Desktop
		.hide-for-small-only.hide-for-medium-only
			.footer-section
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Company

								li
									a(href="#") About Us
								li
									a(href="#") Terms
								li
									a(href="#") Privacy Policy

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Support
								
								li
									a(href="#") Help &amp; FAQ
								li
									a(href="#") How it Works
								li
									a(href="#") Become A Lender
								li
									a(href="#") Delivery &amp; Return

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Find Us
								
							.social-media

								a(href="http://www.facebook.com/oprent")
									i.fa.fa-facebook(aria-hidden='true')
							
								a(href="https://twitter.com/Oprent")
									i.fa.fa-twitter(aria-hidden='true')
							
								a(href="http://www.instagram.com/Oprent")
									i.fa.fa-instagram(aria-hidden='true')
							
								a(href="https://www.linkedin.com/company-beta/3727252")
									i.fa.fa-linkedin(aria-hidden='true')

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Contact Us
								
								li
									a(href="tel:020 30701732") 020 30701732
								li
									a(href="mailto:concierge@oprent.com") concierge@oprent.com


						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								
								a.logo-footer(href="/blog.html")
									img(src="../assets/images/oprent-logo-gold.png")

								p London’s premium online destination to rent luxury designer fashion on demand.
			
			.grid-container
				.grid-x.grid-padding-x
					.small-auto.medium-auto.large-auto.cell.copyright
						| © 2017 Oprent Inc. All Rights Reserved. 


		//-  Footer Section on Medium (Ipad)
		.show-for-medium-only
			.footer-section
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Company

								li
									a(href="#") About Us
								li
									a(href="#") Terms
								li
									a(href="#") Privacy Policy

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Support
								
								li
									a(href="#") Help &amp; FAQ
								li
									a(href="#") How it Works
								li
									a(href="#") Become A Lender
								li
									a(href="#") Delivery &amp; Return

						

						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								li.footer-title Contact Us
								
								li
									a(href="tel:020 30701732") 020 30701732
								li
									a(href="mailto:concierge@oprent.com") concierge@oprent.com


						.small-auto.medium-auto.large-auto.cell
							ul.vertical.menu
								
								a.logo-footer(href="/blog.html")
									img(src="../assets/images/oprent-logo-gold.png")

								p London’s premium online destination to rent luxury designer fashion on demand.
			
			.grid-container
				.grid-x.grid-padding-x
					.medium-9.large-auto.cell.m-copyright
						| © 2017 Oprent Inc. All Rights Reserved. 

					.medium-auto.large-auto.cell
						a.m-circle(href="http://www.facebook.com/oprent")
							i.fa.fa-facebook(aria-hidden='true')
					
						a.m-circle(href="https://twitter.com/Oprent")
							i.fa.fa-twitter(aria-hidden='true')
					
						a.m-circle(href="http://www.instagram.com/Oprent")
							i.fa.fa-instagram(aria-hidden='true')
					
						a.m-circle(href="https://www.linkedin.com/company-beta/3727252")
							i.fa.fa-linkedin(aria-hidden='true')



		//- Footer  Section on Mobile
		.show-for-small-only
			.footer-section
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.medium-auto.large-auto.cell
							ul.menu.align-center 
								li
									a(href="#") About Us
								li
									a(href="#") Terms
								li
									a(href="#") Privacy Policy

			.copyright
				.grid-container
					.grid-x.grid-padding-x
						.small-auto.cell.social-media
							a.circle(href="http://www.facebook.com/oprent")
								i.fa.fa-facebook(aria-hidden='true')
								
							a.circle(href="https://twitter.com/Oprent")
								i.fa.fa-twitter(aria-hidden='true')
								
							a.circle(href="http://www.instagram.com/Oprent")
								i.fa.fa-instagram(aria-hidden='true')
								
							a.circle(href="https://www.linkedin.com/company-beta/3727252")
								i.fa.fa-linkedin(aria-hidden='true')

						.small-auto.medium-auto.large-auto.cell
							| © 2017 Oprent Inc. All Rights Reserved. 

						





			
			